:root {
  --token-null: transparent;
  --token-text: #ccc;
}

/* пример другого слоя с глубокой вложенностью */
.header {
  display: flex;

  .title {
    font-weight: 700;
    color: var(--token-text); 

    @media (width <= 768px) {
      font-weight: normal;
    }
  }
}

body {
  font-size: 14px;
  color: var(--token-null);
} 
