@import url('../tokens/palette.postcss');

/* @import url('../tokens/tokens.postcss'); */

/* @import url('../themes/theme-dark.postcss'); */

@import url('./header/nav.postcss');
@import url('./footer/form.postcss');

/* @import url('./chart.postcss'); */
   
