:root {
  --token-color-1: red;
}

:root {
  --param: var(--token-color-1);
}

.form {
  color: var(--param);

  .label {
    color: red;
  }

  .input {
    padding: 1rem;
    font-size: 1rem;
  }
}   