:root {
  --token-null: rgba(0, 0, 0, 0);
  --token-text: rgba(204, 204, 204, 1);
}

/* пример другого слоя с глубокой вложенностью */

.header {
  display: flex;
  background-color: rgba(50, 66, 52, 1);
}

.header .title {
    font-weight: 700;
    color: rgba(204, 204, 204, 1);
    color: var(--token-text, rgba(204, 204, 204, 1));
  }

@media (max-width: 768px) {

.header .title {
      font-weight: normal;
  }
    }

body {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  background-color: var(--token-null, rgba(0, 0, 0, 0));
}

:root {
  --token-color-1: rgba(255, 0, 0, 1);
}

:root {
  --param: rgba(255, 215, 0, 1);
}

.form {
  color: rgba(255, 215, 0, 1);
  color: var(--param, rgba(255, 215, 0, 1));
}

.form .label {
    color: rgba(255, 0, 0, 1);
  }

.form .input {
    padding: 1rem;
    font-size: 1rem;
  }