.button-primary {
  color: var(--token-bg-default);
  background-color: var(--color-blue1);
  /* ! undefined: --color-blue1 (переменная не определена в variables.css) */
}
.button-primary:hover {
    color: rgba(238, 238, 238, 1);
  }